.footer{

}
.footerBox{
    background-color: white;
    display: flex;
    justify-content: center;
    gap:100px;
    padding: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.footerBox h1{
    color: rgba(0, 0, 0, 0.694);
}
.footerBox h1:hover{
     cursor: pointer;
    color:blue;
}
.footerBox1{
    color:gray;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footerBox1 div:hover{
  color: blue;
}
.footerIcons{
    display: flex;
    justify-content: center;
    gap:30px;
}
.icons{
    font-size: 30px;
}
.icons:hover{
   color: blue;
}
.bottom{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 50;
    display: flex;
    justify-content: center;
}